/*Mobile view*/
.TodoList{
    background-color: #efefef;
    width:100%;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.TodoList ul{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 50px;
    margin: 0;
    list-style: none;
}
