/*Mobile view*/
.TodoList{
    background-color: #b5838d;
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TodoList ul{
    overflow-y: scroll;
    height: 40%;
    width:80%;
    padding: 10px 50px;
    margin: 5px 0px;
    list-style: none;
}

/*Desktop and Tablet view*/
@media only screen and (min-width:800px){
    .TodoList{
        width:50%;
    }

    .TodoList .CreateTodoButton{
        display: none;
    }
}

@media only screen and (min-height:900px){
    .TodoList ul{
        height:60%;
    }
    
}