.todoplot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
  width: 90%;
  max-width: 320px;
  background-color: #f3eee9;
  padding: 20px 20px;
}

@media only screen and (min-height:1000px){
  .todoplot{
      height:50%;
  }    
}