.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todolist-buttondash, .todobudget-button{
  display:inline;
  margin: 13px;
  border:none;
  position:fixed;
  transform: scale(0.6);
  transition: .3s ease;
}
.todolist-buttondash{
  top:-8px;
  left:-5px;
}

.todobudget-button{
  top:-8px;
  left:25px;
}

.todolist-buttondash:hover, .todobudget-button:hover{
  transform: scale(0.8);
}

.todolist-buttondash--icon, .todobudget-icon{
  width: 2.5em;
  height: 2.5em;
}

@media only screen and (min-width:400px){
  .todolist-buttondash{
    left:8px;
  }
  .todobudget-button{
    left:38px;
  }
}
@media only screen and (min-width:500px){
  .todolist-buttondash{
    left:16px;
  }
  .todobudget-button{
    left:46px;
  }
}

@media only screen and (min-width:800px){
  .todolist-buttondash, .todobudget-button{
    display:none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
