.TodoProgress{
  font-size: 70%;
}

.TodoProgress progress{
  border-radius: 30%;
  height: 25px;
  width:100%;
  background-color: #551c0e;
}
.TodoProgress progress::-webkit-progress-bar { background-color: #ffffff; }
.TodoProgress progress::-webkit-progress-value { background-color: #354f52; }