.todoreport{
  color:black;
  border: 2px solid #202329;
  border-radius: 8px;
  width: 80%;
  max-width: 280px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}