
.Icon-container{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transform: scale(1);
  transition: .3s ease;
}

/*.Icon-container--check{
  position: relative;
  left:5px;
}*/
.Icon-container--edit{
  position: absolute;
  top: 22px;
  right: -26px;
}
.Icon-container--delete{
  position: absolute;
  top: 0px;
  right:-26px;
}

.Icon-svg{
  width: 22px;
  height: 22px;
  transition: fill .15s;
}

.Icon-container--delete:hover{
  fill: #bc4749;
}

.Icon-container--check:hover{
  fill: #4caf50;
}

.Icon-container--edit:hover{
  fill: #354f52;
}