
.Icon-container{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transform: scale(1);
  transition: .3s ease;
}

.Icon-container--check{
  position: absolute;
  left:5px;
}

.Icon-container--delete{
  position: absolute;
  top: -10px;
  right:-15px;
}

.Icon-svg{
  width: 24px;
  height: 24px;
  transition: fill .15s;
}

.Icon-container--delete:hover{
  fill: #bc4749;
}

.Icon-container--check:hover{
  fill: #4caf50;
}